<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <p v-if="seen">现在你看到我了</p>
    <p v-if="a == 1">a = 1</p>
    <p v-else-if="a == 2">a = 2</p>
    <p v-else="">a 不等于1 或 2</p>
    <p v-show="sh">show</p>

</div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            // seen为true, if为真所以显示
            seen: true,
            // a等于2显示第3个p
            a: 1,
            sh: false
        }
    })
</script>
</html>